<div class="container">
  <h1>{{titulo}}</h1>
  <form>
    <div class="form-group">
      <label>Número 1</label>
      <input type="number" class="form-control" placeholder="Escribe un número" [(ngModel)] = "numero1" name="numero1">
    </div>
    <div class="form-group">
      <label>Número 2</label>
      <input type="number" class="form-control" placeholder="Escribe un número" [(ngModel)] = "numero2" name="numero2">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="sumar()">Sumar</button>
  </form>
  <p>El resultado es: {{resultado}}</p>
</div>